
body { 
  background: url(Lighthand.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
/*I am targeting ul inside of .nav because I would probably 
want different styling on non-navigational unordered lists.*/
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
/*On the list items inside of nav (.nav li) I will set the typography.
*/
 .nav li {
  font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; 
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

/*Finally, I’ll turn off the underlines and make the text white in the links.
*/
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
.nav a:hover {
  background-color: #005f5f;
}
 
/*I have an active class on the “news” link right now. I can style the active links with this.
*/

 .nav a.active {
      color: #444;
    }


/*Then I can target the .nav li inside of the media query. So when on a screen that is at least 600px wide it will use this code:
*/
@media screen and (min-width: 600px) {
	.nav li {
	width: 120px;
	border-bottom: none;
	height: 50px;
	line-height: 50px;
	font-size: 1.4em;
	}

	.nav li {
	display: inline-block;
	margin-right: -4px;
	}
}
/*.container-intro {
	background: url(frontpage.jpg) 0px 0px;
	background-size:100%;
    padding:28.37%;
}*/

#slideshow { 
    position: relative; 
    width: 100%; 
}

/*#slideshow > div { 
    position: absolute; 
    top: 0px; 
    left: 0px; 
}*/

#slideshow > div > img {
	width: 100%;
	/*height: 500px;*/
  object-fit: contain;
  background-size:110%;
}



.intro {
	background: #4d4d4d;
	color:white;
	padding:10px;
	font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; 
    text-align: center;
}

#title {
font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; 
font-weight: bold;
text-align: center;
padding:10px;
}

#date {
font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; 
text-align: center;
padding:10px;

}

#content {
  position: relative;
}

.post {
margin: 0 auto; 
width: 55%;
/*border: 1px;
*//*padding: 10px;
*/background-color:#dddddd;
display: block;

}

.art img{
  display: block;
  margin: 0 auto;
  padding: 7px;
  position: relative;
  width:  350px;
  height: 350px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}

@media screen and (max-width: 700px) {
  .art img {
  width:  250px;
  height: 250px;
  }

@media screen and (max-width: 450px) {
  .art img {
  width:  150px;
  height: 150px;
  }

